{% extends "stations/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <img src="{% static 'stations/img/Arduino.png' %}" class="logo" />
    <p style="color:rgb(255, 255, 255);">Aries Micro-Estações</p>
    <form class="tag" method="GET" action="/menu/{{user_id}}">
        <button class="mainmenu">Menu Principal</button>
    </form>
</div>

<main class="container">
    <div class="card-container">
        <div class="card2">
            <form class="delcont" method="GET" action="/menu/{{user_id}}/delete/parameter/{{parameter.id}}">
                <button class="delbtn" type="submit"><i class="fa fa-trash"></i></button>
            </form>   
            <h3 class="card-title2">{{ station.name }}</h3>
            <h3 class="card-title2">Digite o Threshold do parâmetro:</h3>
            <form class="dropdown" method="POST" action="/menu/{{user_id}}/subscribe/{{station.name}}/{{parameter.name}}">
                {% csrf_token %}
                <input
                class="addthres"
                id="Threshold"
                type="text"
                name="Threshold"
                placeholder="Digite o valor do Threshold do parâmetro"
                />
                <button class="subscribe" type="submit">Inscrever</button>
            </form>
            <div class="dropdown">
                <button class="dropbtn">Gráficos</button>
                <div class="dropdown-content">
                <a href="/menu/{{user_id}}/data/{{station.name}}/{{parameter.name}}/line" method="GET">line</a>
                <a href="/menu/{{user_id}}/data/{{station.name}}/{{parameter.name}}/bar" method="GET">bar</a>
                <a href="/menu/{{user_id}}/data/{{station.name}}/{{parameter.name}}/doughnut" method="GET">doughnut</a>
                </div>
            </div>
            <form class="dropdown" method="GET" action="/menu/{{user_id}}/geolocation/{{station.name}}/{{parameter.name}}">
                <button class="dropbtn">Localização</button>
            </form>
        </div>
    </div>   
</main>
{% endblock %}