
.appbar{
  left: 5%;
  top: 10%;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  box-shadow: 1px 0px 20px black;
  background: #7a2ef5;
}

.subtitle{
  color:rgba(255, 255, 255);
}

.logo{
  margin: 0.5rem;
  width: 5rem;
  height: 3rem;
}

.station-create{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 10rem;
  height: 6rem;
}

html, body {
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.form-card{
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.3);
  justify-content:space-between;
  display: flex;
  flex-direction:column;
  width: 40%;
  height: 50%;
  margin: 2% auto;
  border-radius: 10px;
  background: #9152f8;
  padding-bottom: 1%;
}

.form-card-title{
  font-weight: bold;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2.5%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  border: none;
  display: flex;
  background-color: transparent;
  color:rgb(255, 255, 255)
}

.addstation{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  border: none;
  display: flex;
  background-color: transparent;
}

.addparam{
  padding: 10px ;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  border: none;
  display: flex;
  background-color: transparent;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
}

.addthres{
  text-align: center;
  position: relative;  
  margin-bottom: 2.5%;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 1.4em;
  border: none;
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.card-container{
  align-content:flex-start;
  justify-content:space-evenly;
  margin: 1%;
  display: flex;
  flex-wrap:wrap;
  margin-left: 1%;
  margin-right: 1%;
  
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.card{
  font-family: 'Permanent Marker', cursive;
  width:25%;
  margin-top: 5%;
  border-radius: 10px;
  margin: 3% auto;
  margin-right: 5%;
  display: flex;
  flex-direction:column;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  background: #d3d3d3;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.card2{
  font-family: 'Permanent Marker', cursive;
  width:50%;
  margin-top: 10%;
  padding: 3%;
  border-radius: 10px;
  margin: 1% auto;
  display: flex;
  flex-direction:column;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.card-title{
  color:rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%; 
}

.card-title2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
}

.card-title3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 35%;
  margin-bottom: 2%;
}

.mainmenu {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding-top: 10%;
  padding-bottom: 10%;
  width:150%;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin: 0% 0% 2% 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
}

.card-color-1{
  background:#ead3a7;
  
}

.card-color-2{
  background:#9de0f5;
}

.card-color-3{
  background:#ef89ba;
}

.card-color-4{
  background:#abe9c1;
}

.card-color-5{
  background:#fae890;
}

 .btn {
   margin: 0.5em;
  position: relative;
  display: block;
  padding: 10px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 7px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
  background-color: #0400fa;
   font-weight: bold;
  transition: background-color 0.3s;
  margin-bottom: 2%;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.btn2 {
  margin: auto;
 position: relative;
 display: block;
 padding: 10px;
 overflow: hidden;
 border-width: 0;
 outline: none;
 border-radius: 7px;
 box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
 background-color: #0400fa;
 transition: background-color 0.3s;
 margin-bottom: 5%;
 color: white;
 font-family: 'Roboto', sans-serif;
}
.btn2 > * {
 position: relative;
}

.btn2:before {
 content: "";

 position: absolute;
 top: 50%;
 left: 50%;

 display: block;
 width: 0;
 padding-top: 0;

 border-radius: 100%;

 background-color: rgba(236, 240, 241, 0.3);

 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

.btn2:active:before {
 width: 120%;
 padding-top: 120%;

 transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

/* Dropdown Button */
.dropbtn {
  background-color: #5d009b;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  font-size: 16px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
  margin: auto;
  margin-top: 20%;
}

.subscribe {
  background-color: #5d009b;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  font-size: 16px;
  margin-left: 33%;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
  margin-top: 20%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 115px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #8400ff;}

/* Botão Dropdown da Tela de Gráficos*/

/* Dropdown Button */
.dropbtn2 {
  background-color: #5d009b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  width:125%;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 10%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 115px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: auto;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: auto;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2 {background-color: #8400ff;}

.delbtn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  width:20%;
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
  margin: 0% 0% 0% 5%;
}

/* Darker background on mouse-over */
.delbtn:hover {
  background-color: RoyalBlue;
}

.favbtn {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(113, 0, 141); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  width:20%;
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
  margin-left: 40%;
}

/* Darker background on mouse-over */
.favbtn:hover {
  background-color: rgb(170, 0, 212);
  margin-left: 40%;
}

label {
  /* Presentation */
  font-size: 48px
}

/* Required Styling */

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
  width: 200%
}

.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
  color: gray;
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}